body{
    background-color: rgb(224, 221, 221);
}

.buttons-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn{
    padding: 20px;
    border: 2px;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 3.5px #999
}

.btn:hover{
    background-color: rgb(211, 233, 240);
}

.btn:active{
    transform: translateY(4px);
    box-shadow: 0 1px #666;
    background-color: rgb(142, 190, 206);
}

.calculator{
    max-width: 400px;
    border: 2px solid;
    border-radius: 15px;
    margin: 30px auto;
    padding: 20px;
    background-color: #bbb7b8;

}

.screen{
    min-height: 80px;
    padding: 20px;
    border: 2px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 29px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    background-color: snow;
}

.span-2 {
    grid-column: span 2;
  }